<aside class="ms-footbar">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ms-footer-col" style="height: 442px;">
        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title">Sitemap</h3>
          <ul class="list-unstyled ms-icon-list three_cols">
            <li>
              <a href="index.html">
                <i class="zmdi zmdi-home"></i> Home</a>
            </li>
            <li>
              <a href="page-blog.html">
                <i class="zmdi zmdi-edit"></i> Blogs</a>
            </li>
            <li>
              <a href="page-blog.html">
                <i class="zmdi zmdi-palette"></i> Art</a>
            </li>
            <li>
              <a href="portfolio-filters_sidebar.html">
                <i class="zmdi zmdi-case"></i> Freelance</a>
            </li>
            <li>
              <a href="portfolio-filters_sidebar.html">
                <i class="zmdi zmdi-present-to-all"></i> Tutorials</a>
            </li>
            <li>
              <a href="page-timeline_left2.html">
                <i class="zmdi zmdi-view-dashboard"></i> Portfolio</a>
            </li>
            <li>
              <a href="page-pricing.html">
                <i class="zmdi zmdi-city-alt"></i>Employers</a>
            </li>
            <li>
              <a href="page-about.html">
                <i class="zmdi zmdi-favorite-outline"></i> About Me</a>
            </li>
            <li>
              <a href="page-team2.html">
                <i class="zmdi zmdi-comment-text-alt"></i> News</a>
            </li>
            <li>
              <a href="page-services.html">
                <i class="zmdi zmdi-face"></i> Services</a>
            </li>
            <li>
              <a href="page-login2.html">
                <i class="zmdi zmdi-lock"></i> Login</a>
            </li>
            <li>
              <a href="page-contact.html">
                <i class="zmdi zmdi-email"></i> Contact</a>
            </li>
          </ul>
        </div>
        <div class="ms-footbar-block">
          <app-subscribe></app-subscribe>
        </div>
      </div>
      <div class="col-md-5 col-sm-7 ms-footer-col ms-footer-alt-color" style="height: 442px;">
        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title text-center mb-2">Last Articles</h3>
          <app-news-article></app-news-article>
        </div>
      </div>
      <div class="col-md-3 col-sm-5 ms-footer-col ms-footer-text-right" style="height: 442px;">
        <div class="ms-footbar-block">
          <div class="ms-footbar-title">
            <span class="ms-logo ms-logo-white ms-logo-sm mr-1">OW</span>
            <h3 class="no-m ms-site-title">Omie
              <span>Walls</span>
            </h3>
          </div>
          <address class="no-mb">
            <p>
              <i class="color-danger-light zmdi zmdi-pin mr-1"></i> Vinings area</p>
            <p>
              <i class="color-warning-light zmdi zmdi-map mr-1"></i> Smyrna, CA 30067</p>
            <p>
              <i class="color-info-light zmdi zmdi-email mr-1"></i>
              <a href="mailto:joe@example.com">omiewalls@outlook.com</a>
            </p>
            <p>
              <i class="color-royal-light zmdi zmdi-phone mr-1"></i>+1 414 514 0536 </p>
            <p>
              <i class="color-success-light fa fa-fax mr-1"></i> fax provided upon request </p>
          </address>
        </div>
        <div class="ms-footbar-block">
          <h3 class="ms-footbar-title">Social Media</h3>
          <div class="ms-footbar-social">
            <a href="javascript:void(0)" class="btn-circle btn-facebook">
              <i class="zmdi zmdi-facebook"></i>
            </a>
            <a href="javascript:void(0)" class="btn-circle btn-twitter">
              <i class="zmdi zmdi-twitter"></i>
            </a>
            <a href="javascript:void(0)" class="btn-circle btn-youtube">
              <i class="zmdi zmdi-youtube"></i>
            </a>
            <br>
            <a href="javascript:void(0)" class="btn-circle btn-google">
              <i class="zmdi zmdi-google"></i>
            </a>
            <a href="javascript:void(0)" class="btn-circle btn-instagram">
              <i class="zmdi zmdi-instagram"></i>
            </a>
            <a href="javascript:void(0)" class="btn-circle btn-github">
              <i class="zmdi zmdi-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
<footer class="ms-footer">
  <div class="container">
    <p>Copyright © Material Style 2017</p>
  </div>
</footer>
