<!--<form>-->
  <!--<div class="md-flex">-->
    <!--<div class="btn-group col-2 flex">-->
      <!--<button type="button" class="btn btn btn-white dropdown-toggle" id="subscribe-type-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--Type <i class="zmdi zmdi-chevron-down right"></i>-->
      <!--</button>-->
      <!--<ul class="dropdown-menu">-->
        <!--<li class="dropdown-header">Art</li>-->
        <!--<li><a href="javascript:void(0)">Artwork Sketches</a></li>-->
        <!--<li><a href="javascript:void(0)">Artwork Sales</a></li>-->
        <!--<li><a href="javascript:void(0)">New Artwork</a></li>-->
        <!--<li class="dropdown-header">Blogs</li>-->
        <!--<li><a href="javascript:void(0)">Left-handed Right-clicker Tech Blog</a></li>-->
        <!--<li><a href="javascript:void(0)">Dysfunctionally Perfect Lifestyle Blog</a></li>-->
        <!--<li><a href="javascript:void(0)">Tripped Out Travel Blog</a></li>-->
        <!--<li><a href="javascript:void(0)">Chocolate Sunday Food Blog</a></li>-->
        <!--<li><a href="javascript:void(0)">Downside of Probability Life Blog</a></li>-->
        <!--<li role="separator" class="divider"></li>-->
        <!--<li class="dropdown-header">Tech</li>-->
        <!--<li><a href="javascript:void(0)">Mindless Clutter Tutorials</a></li>-->
        <!--<li><a href="javascript:void(0)">Portfolio</a></li>-->
        <!--<li><a href="javascript:void(0)">News & Events</a></li>-->
        <!--<li role="separator" class="divider"></li>-->
        <!--<li><a href="javascript:void(0)">All of the Above</a></li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="form-group label-floating mt-2 mb-1 is-empty col-8 col-md-offset-1 flexs">-->
      <!--<div class="input-group ms-input-subscribe">-->
        <!--<label class="control-label" for="ms-subscribe">-->
          <!--<i class="zmdi zmdi-email"></i> Email Adress</label>-->
        <!--<input type="email" id="ms-subscribe" id="subscribe-email-input" class="form-control" > </div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<button class="ms-subscribre-btn" type="button">Subscribe</button>-->
<!--</form>-->
<!--&lt;!&ndash;TODO: Subscription message update... &ndash;&gt;-->
<!--<h3 class="ms-footbar-title">Subscribe</h3>-->
<!--<p class="">Please subscribe to my interesting updates! Not yet though... I'm still setting this website up. </p>-->
