<div #skills id="skills" class="card card-primary-inverse mt-4 wow fadeInUp" id="skills" style="visibility: visible; animation-name: fadeInUp;">
  <div class="card-body card-body-big">
    <div class="row">
    <div class="col-lg-12">
      <br>
      <h3 class="text-center fw-500 mb-4">Skills</h3>
    </div>
    <div class="col-lg-4">
      <h4 class="text-center">Top Skills</h4>
      <div class="text-center center-block mw-500">
        <span class="ms-tag ms-tag-light color-primary">HTML 5</span>
        <span class="ms-tag ms-tag-light color-primary">CSS 3</span>
        <span class="ms-tag ms-tag-light color-primary">Angular</span>
        <span class="ms-tag ms-tag-light color-primary">JavaScript</span>
        <span class="ms-tag ms-tag-light color-primary">SASS</span>
        <span class="ms-tag ms-tag-light color-primary">Bootstrap</span>
        <span class="ms-tag ms-tag-light color-primary">TypeScript</span>
        <span class="ms-tag ms-tag-light color-primary">AJAX</span>
        <span class="ms-tag ms-tag-light color-primary">Jquery</span>
        <span class="ms-tag ms-tag-light color-primary">Angular JS</span>
        <span class="ms-tag ms-tag-light color-primary">Angular Material</span>
        <span class="ms-tag ms-tag-light color-primary">Git</span>
        <span class="ms-tag ms-tag-light color-primary">Angular CLI</span>
        <span class="ms-tag ms-tag-light color-primary">MySQL</span>
        <span class="ms-tag ms-tag-light color-primary">Oracle SQL</span>
      </div>
    </div>
    <div class="col-lg-4">
      <h3 class="text-center">Professional Skills</h3>
      <div class="text-center center-block mw-500">
        <span class="ms-tag ms-tag-light color-primary">TDD</span>
        <span class="ms-tag ms-tag-light color-primary">BDD</span>
        <span class="ms-tag ms-tag-light color-primary">MVC</span>
        <span class="ms-tag ms-tag-light color-primary">Modular development</span>
        <span class="ms-tag ms-tag-light color-primary">Product managment</span>
        <span class="ms-tag ms-tag-light color-primary">OOP</span>
        <span class="ms-tag ms-tag-light color-primary">SDLC</span>
        <span class="ms-tag ms-tag-light color-primary">Agile</span>
        <span class="ms-tag ms-tag-light color-primary">Project managment</span>
        <span class="ms-tag ms-tag-light color-primary">SCRUM</span>
        <span class="ms-tag ms-tag-light color-primary">XP</span>
        <span class="ms-tag ms-tag-light color-primary">Pair Programming</span>
        <span class="ms-tag ms-tag-light color-primary">Research</span>
        <span class="ms-tag ms-tag-light color-primary">Troubleshooting</span>
        <span class="ms-tag ms-tag-light color-primary">Prototyping</span>
        <span class="ms-tag ms-tag-light color-primary">UI/UX</span>
        <span class="ms-tag ms-tag-light color-primary">Version control</span>
        <span class="ms-tag ms-tag-light color-primary">Deployments</span>
        <span class="ms-tag ms-tag-light color-primary">Releases</span>
        <span class="ms-tag ms-tag-light color-primary">UML/ERD</span>
        <span class="ms-tag ms-tag-light color-primary">Data modeling</span>
        <span class="ms-tag ms-tag-light color-primary">Sprint planning</span>
      </div>
    </div>
      <div class="col-lg-4">
        <h4 class="text-center">Other Skills</h4>
        <div class="text-center center-block mw-500">
          <span class="ms-tag ms-tag-light color-primary">LESS</span>
          <span class="ms-tag ms-tag-light color-primary">Scala</span>
          <span class="ms-tag ms-tag-light color-primary">Microservices</span>
          <span class="ms-tag ms-tag-light color-primary">Testing</span>
          <span class="ms-tag ms-tag-light color-primary">PHP</span>
          <span class="ms-tag ms-tag-light color-primary">NodeJS</span>
          <span class="ms-tag ms-tag-light color-primary">Spring</span>
          <span class="ms-tag ms-tag-light color-primary">Gulp</span>
          <span class="ms-tag ms-tag-light color-primary">Bower</span>
          <span class="ms-tag ms-tag-light color-primary">Bash</span>
          <span class="ms-tag ms-tag-light color-primary">MVC</span>
          <span class="ms-tag ms-tag-light color-primary">Symphony</span>
          <span class="ms-tag ms-tag-light color-primary">npm</span>
          <span class="ms-tag ms-tag-light color-primary">Laravel</span>
    </div>
    </div>
    </div>
  </div>
</div>
