#education {
  margin: 5%;
  padding: 1%;
}

.school-group {
  display:flex;
  justify-content: center;
}

.school-section {
  padding: 2%;
}

.course-block {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
