<div #information id="information" class="ms-hero-page-override ms-hero-bg-primary">
  <div class="container">
    <div class="text-center">
      <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">
        Passionate <span class="color-warning">Fullstack</span> Software Engineer with 3+ years of experience in web application
        development. Additional experience in <span class="color-warning">UX design</span>, and product management.
        <span class="color-warning">Specializations</span> in Java, Angular 2+, and SQL.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="card card-hero animated slideInUp animation-delay-8 mb-6">
    <div class="card-body">
      <h2 class="color-primary">About Me</h2>
      <div class="row">
        <div class="col-lg-6 text-justify">
          <p class="dropcaps"> In the field of Software Engineering, I’m a <i>“Work Hard, Play Hard”</i> type of
            engineer. When I see a need in the workplace, I expand myself to fill it while doing the due diligence
            of research and training in order to fill that need to the best of my ability. Efficiency is my drive.
            Productivity is my reward.</p>
            <p>
            <i>When it comes to assignments, I have yet to encounter one I won’t agree to do.</i> There are legacy
          applications and ugly tasks that many employees will shy away from. I’m the one who elects to learn how to do
          them. Give me your tired, your poor, your huddled code yearning to breathe free<>, and I will stand up to
          the challenge.
            </p>
            <p>
            <i>Team culture is big to me.</i> My success in different industries of sales and customer service has
              given me a great set of soft skills, a strong aim to please, and goal of delivering the best service I
              can in whatever I’m delivering. You’ll get someone who is compassionate, positive, motivating,
              charismatic, understanding, and organic. If you need someone who is energetic with or without the coffee
              machine, look no further.
            </p>
            <p>
            <i>I’m big on onboarding new hires and getting people up to speed in an efficient way.</i> Whether it’s
              creating documents and illustrations, showing them around, doing code reviews, one-on-one guidance, I
              always make myself available and seek them out for questions as well.  Now that I’ve reached mid-level,
              I have set some goals for myself to start grooming new talent. Being someone who has a passion for
              learning, I have researched multitudes of learning styles. This has led me to be rather efficient in
              teaching others, as well as myself.
            </p>
            <p>
            <i>Continuous growth and education is a priority of mine in software engineering.</i>I push regularly to
              adapt to new technologies and research trends to stay at the top of the market. Problem solving and
              overcoming challenges give the best feeling in the world. When I started learning Java in 2014, I finally
              found something that offered me a challenge. The increasing difficulty of learning more intricacies of a
              programming language satisfied my hunger for a career that gave me purpose. I finally felt like my mental
              processors were running. I often felt under-challenged in school and college. Since then, my passion and
              excitement for the field has only grown.</p>
        </div>
        <div class="col-lg-6 text-justify">
          <p>Whether you’re getting to know me as an artist, software engineer, freelance web developer, student,
            friend, colleague, mentor/mentee, or business partner, one thing I found out is that I’m pretty hard to
            forget.</p>

          <p>‘<i>Omify</i>’ is a term that came from a previous manager which was used to describe the unique way I made
              my environment better. I always wanted to make things beautiful and ordered, simplistic and colorful. I
              didn’t care if it took my own efforts and money. I just wanted to make sure I left my mark on things being
              better.</p>

          <p>If you’re an individual or small business, I do affordable freelancing! At the moment, I’m working on some
            great features on this website for booking new clientele and managing projects. Please check back soon!</p>

        <p>Outside of coding, I practice digital art in my spare time. I also paint on canvas with oil and acrylic,
          but due to the immobility of it, I fell off from practicing art via painting and drawing on paper and canvas.
          I’m working on making themed prints and gicleé soon as I get better acquainted with digital art. You can
          follow my progress on Instagram as <b>@theomifier</b>.</p>

        <p>When I’m not working or doing artwork, I spend time with my son, Christopher (age 7).  He’s got a fantastic
          journey ahead of him in IT with a great mentor as a mom. He’s also the very reason I got into IT. After being
          diagnosed with Autism, I wanted to help him become self-sufficient as an adult and I started with him early.
          I looked over his strengths and one of them clearly lied within the computing field. He was so intuitive and
          picked up on everything fast. I did some research and found IT to be a great field for people with autism. I
          switched my major from Architecture & Urban Planning to Information Science and Technology and started
          preparing to teach him. These days, he’s just a kid now, but I sneak programming concepts into his life via
          video games and other STEM projects.</p>

            <p>We’re located just outside of The Battery in Vinings, Georgia. I felt drawn to the area because in a
              lot of ways, The Battery represents me- diversity, magnetism, fun, outgoing, thriving, team supporting,
              simplistic, great energy, and inviting. I’ve been a resident of Cobb County for eleven years and
              counting, but still maintain ties to my hometown, Milwaukee, Wisconsin. </p>
        </div>
      </div>
      <hr class="dotted">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="card card-info card-flat">
            <div class="card-body overflow-hidden text-center">
              <i class="fa fa-code color-info font-big"></i>
              <h4 class="color-info">Developer</h4>
              <p>3+ years experience as a web application developer with a background in Java, JavaScript, Angular,
                SQL, PHP, Agile, and more.</p>
              <a href="javascript:void(0)" class="btn btn-info">
                <i class="zmdi zmdi-download"></i> Portfolio</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="card card-warning card-flat">
            <div class="card-body overflow-hidden text-center">
              <i class="fa fa-paint-brush color-warning font-big"></i>
              <h4 class="color-warning">Artist</h4>
              <p>Self-taught digital and canvas artist with great skill.
                I work with a multitude of mediums and focus primarily on portrait, landscape, and abstract art.</p>
              <a href="javascript:void(0)" class="btn btn-warning">
                <i class="zmdi zmdi-download"></i> View/Buy</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="card card-danger card-flat">
            <div class="card-body overflow-hidden text-center">
              <i class="fa fa-laptop color-danger font-big"></i>
              <h4 class="color-danger">Freelancer</h4>
              <p>As a small business, work with me to have an impressive and affordable website for your unique needs.
              I also do initial database administration.</p>
              <a href="javascript:void(0)" class="btn btn-danger">
                <i class="zmdi zmdi-download"></i> Get Quote</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="card card-success card-flat">
            <div class="card-body overflow-hidden text-center">
              <i class="fa fa-comments color-success font-big"></i>
              <h4 class="color-success">Blogger</h4>
              <p>I cover a wide-range of topics from parenting to tech. I've found joy in sharing advice
              and experiences. Stay posted while I get my blogging set up on here!</p>
              <a href="javascript:void(0)" class="btn btn-success">
                <i class="zmdi zmdi-download"></i> View Blogs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
