  <div #home class="intro-full-content index-1">
    <div class="container">
      <div class="text-center mb-4">
        <img src="assets/img/avatar.gif" alt="..." class="ms-avatar animated rollIn animation-delay-5">
        <h1 class="no-m color-white center-block fw-500 mt-2 animated zoomInRight animation-delay-7">Omie Walls</h1>
        <h2 class="animated zoomInRight animation-delay-8">Software Engineer</h2>
        <a href="javascript:void(0)" class="btn-circle btn-circle-white animated zoomInUp animation-delay-8">
          <i class="zmdi zmdi-facebook"></i>
        </a>
        <a href="javascript:void(0)" class="btn-circle btn-circle-white animated zoomInUp animation-delay-9">
          <i class="zmdi zmdi-twitter"></i>
        </a>
        <a href="http://github.com/gitsandglamour" class="btn-circle btn-circle-white animated zoomInUp animation-delay-12">
          <i class="zmdi zmdi-github" target=”_blank”></i>
        </a>
      <div id="download-cv-btn">
          <a href="assets/files/Resume.pdf" target=”_blank” class="btn btn-white btn-lg color-primary btn-raised animated fadeInUp animation-delay-16">
            <i class="zmdi zmdi-download"></i> Download CV
          </a>
      </div>
        <br>
        <br>
      <a data-scroll="" href="#timeline" class="btn-circle btn-circle-raised btn-circle-white animated fadeInUp animation-delay-20">
        <i class="zmdi zmdi-long-arrow-down"></i>
      </a>
    </div>
  </div>
</div>
