<div class="intro-full ms-hero-img-keyboard ms-hero-bg-primary color-white" id="home" style="height: 400px; outline: none;" data-scroll-id="home" tabindex="-1">
  <app-configurator></app-configurator>
  <app-navigation></app-navigation>
  <div class="ms-site-container ms-nav-fixed">
    <app-main></app-main>
  </div>
</div>
<app-information></app-information>
<app-timeline></app-timeline>
<app-education></app-education>
<app-skills></app-skills>
<app-porfolio></app-porfolio>
<app-blog></app-blog>
<app-footer></app-footer>
