/* You can add global styles to this file, and also import other style files */
.zmdi, .fa {
  padding-top: 17px !important;
}

.zmdi-chevron-down {
  padding-top: 0px !important;
}

.btn .zmdi {
  font-size: 20px;
}

a .zmdi {
  padding-top: 0px !important;
}

.btn-rounded {
  border-radius: 5%;
}
.btn-rounded i {
    padding-bottom: 8px;
  }

.btn-rounded-white {
  background: white;
}
.modal-backdrop.in {
  visibility: hidden;
}
